*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("Images/alumni_background.jpg");
    background-position:center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container form{
    padding: 1em;
}
.container{
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid #eee;
    border-radius: 20px;
    color: #fff;
}
.container h1{
    margin-top:.5em;
    font-family:cursive;
    font-size: 50px;
}
#inputboxing{
    margin:1em;
    text-align: left;
}
.container label{
    margin-right:1em;
    font-size: 18px;
}
.container input {
    width: 50%;
    height: 3em;
    border-radius: 25px;
    border: none;
    padding: 1em;
    font-size: .80rem;
}
.registerButton{
    color:#fff;
    width:40%;
    height: 2em;
    margin-bottom:1em;
    border-radius: 30px;
    background-color: rgb(2, 167, 176);
    cursor: pointer;
    font-size:19px;
    border: none;
    transition: .5s;
}
.registerButton:hover{
    background: rgb(14, 238, 238);
    color: #000;
    transition: 0.5s;
    box-shadow: #323232 0px 10px 14px 0px;
}